# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.egg-info/

# Environments
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# Data & models (optional: you may decide to version models later)
data/*
!data/README.md

models/*
!models/.gitkeep